<!-- extend base layout -->
{% extends "baser.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="row ">
    <div class="span2">  </div>  <div class="span5">
<!--     {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->
<div class="alert alert-warning" role="alert">
  <h1>Hi {{name}} </h1></div>
</div></div>

</div></div>

        
         <div class="row ">

     <div class="span2">  </div> 
    <div class="span10">
         <div class="well">
<form method=post >   
   <div class="row ">
    <div class="span8">
    

     {{ form.hidden_tag() }}
<p>{{ wtf.form_field(form.Category) }}</p> 
<p>{{ wtf.form_field(form.Priority) }}</p> 
<p>{{ wtf.form_field(form.Title) }}</p> 
<p>{{ wtf.form_field(form.Description) }}</p> 
<p>{{ wtf.form_field(form.Status) }}</p> 
<p>{{ wtf.form_field(form.ProjectLead) }}</p> 
<p>{{ wtf.form_field(form.InterventionSuggestion) }}</p> 

     
   <div class="row ">
    <div class="span8">

<p>{{ wtf.form_field(form.submitChallenge) }}{{ wtf.form_field(form.submitSave) }}</p>


</form>
  <!-- {{ wtf.quick_form(form) }} -->
 
      </span>
  </div>
</div>  </div>
</div>  </div>
</div> </div>
</div>  </div>
</div>
{% endblock %}

