<!-- extend base layout -->
{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}

  <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">AC Business Analytics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <ul class="nav navbar-nav navbar-right">
      {% if not session.logged_in %}
   <li><a href="{{ url_for('login') }}">Login</a></li>
  {% else %}
   <li><a href="{{ url_for('logout') }}">Logout</a></li>
  {% endif %}
  </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

  
 <header>
        <div class="container-fluid">
            </div>
        </div>
    </header>
<br>
<br>
<br><br>
<br>
<br>
{% endblock %}

{% block content %}
{{ super()}}

      <div class="col-md-12 ">


     
      <div class="row">
        <div class="col-md-1">
        </div><div class="col-md-10">
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  
        
<p></span><a class="btn btn-default" role="button" href="{{ url_for('allrus')}}"><span class="glyphicon glyphicon-signal" aria-hidden="true"> ru List</a>  </p>

<div class="container">
<div class='well'>
<div class="alert alert-warning" role="alert">
  <div class="row">
    <div class="col-md-4">Provider Name: {{ ru.provider_name}}</div>
    <div class="col-md-3">Reporting Unit: {{ ru.reporting_unit}}</div>
    <div class="col-md-3"></div>
  </div>
    <div class="row">
    <div class="col-md-2">Start: {{  ru.start_date }}</div>
  <div class="col-md-2">End: {{  ru.end_date }}</div>
<div class="col-md-2">FRC: {{  ru.financial_responsibility }}</div>
{% if ru.predesessor != None %}
<div class="col-md-2">New RU: {{  ru.predesessor }}</div>{% endif %}
  </div>
    <div class="row">

<div class="col-md-2">Mode of Service: {{  ru.mode_of_service }}</div>
<div class="col-md-2">Umbrella Org: {{  ru.umbrella_organization}}</div>

<div class="col-md-2">City: {{  ru.city }}   </div>

</div></div>
<form method=post enctype="multipart/form-data" >   

{{ form.hidden_tag() }}
{{ wtf.form_errors(form) }}

{% if form_access == 'all' %}
 <div class="row">
    <div class="col-md-3">{{ wtf.form_field(form.agency) }}</div>
    <div class="col-md-3">{{ wtf.form_field(form.dbservicemodality) }}</div>
    <div class="col-md-3">{{ wtf.form_field(form.svctype) }}</div>
    <div class="col-md-3">{{ wtf.form_field(form.svctype3) }}</div>
  </div>
 <div class="row">
 <div class="col-md-3">
{{ wtf.form_field(form.psmasktext) }}</div>
 <div class="col-md-3">
{{ wtf.form_field(form.epsdtgroup) }}</div>
 <div class="col-md-3">
{{ wtf.form_field(form.school_cds_id) }}</div></div>

 <div class="row">
 <div class="col-md-2">
   {{ wtf.form_field(form.ab3632) }}
 </div>
 <div class="col-md-2">
   {{ wtf.form_field(form.cesdc) }}
 </div>
 <div class="col-md-2">

{{ wtf.form_field(form.county_run) }}
 </div>
  <div class="col-md-2">
{{ wtf.form_field(form.calworks) }}
 </div></div>
  <div class="row">
 <div class="col-md-2">
   {{ wtf.form_field(form.day_treatment) }}
 </div>
 <div class="col-md-2">
{{ wtf.form_field(form.kidsru) }}
 </div>
 <div class="col-md-2">
{{ wtf.form_field(form.level_2) }}
 </div>
  <div class="col-md-2">
{{ wtf.form_field(form.level_3_classic) }}
 </div></div>
  <div class="row">
 <div class="col-md-2">
   {{ wtf.form_field(form.in_school) }}
 </div>
 <div class="col-md-2">
   
{{ wtf.form_field(form.tay) }}
 </div>
 <div class="col-md-2">

{{ wtf.form_field(form.tbs) }}
 </div>
  <div class="col-md-2">

{{ wtf.form_field(form.mhsa) }}
 </div></div>
  
    <div class="row">
 <div class="col-md-2">
   
{{ wtf.form_field(form.cans) }}
 </div>
 <div class="col-md-2">
   {{ wtf.form_field(form.residential) }}
 </div>
 <div class="col-md-2">

{{ wtf.form_field(form.program) }}
 </div>
  <div class="col-md-2">

{{ wtf.form_field(form.out_of_county) }}
 </div></div>
   <div class="row">
 <div class="col-md-2">
 </div>
 <div class="col-md-2">
   {{ wtf.form_field(form.older_adult) }}
 </div>
 <div class="col-md-2">
 </div>
  <div class="col-md-2">
</div></div>

{{ wtf.form_field(form.submitRU) }}

{% elif form_access == 'cans' %}
   <div class="row">
 <div class="col-md-2">
   {{ wtf.form_field(form.cans) }}
 </div>
 <div class="col-md-2">

 </div>
 <div class="col-md-2">
 </div>
  <div class="col-md-2">

</div></div>

{{ wtf.form_field(form.submitRU) }}
{% else %}

   <div class="row">
 <div class="col-md-2">
<div class="alert alert-danger" role="alert"> You do not have permissions.  Contact the admin.
 </div>
 <div class="col-md-2">

 </div>
 <div class="col-md-2">
 </div>
  <div class="col-md-2">

{% endif %}
 </div></div>

















    </form>
</div></div></div>    
{% endblock %}