<!-- extend base layout -->
{% extends "baser.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
          

      <div class="col-md-12 ">


     
      <div class="row">
        <div class="col-md-1">
        </div><div class="col-md-10">
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  
        
<p></span><a class="btn btn-default" role="button" href="{{ url_for('allchallenges')}}"><span class="glyphicon glyphicon-signal" aria-hidden="true"> Challenge List</a>  </p>
<p></span><a class="btn btn-default" role="button" href="{{ url_for('edit_challenge',id=id)}}"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"> Back </a>  </p>
         <div class="row ">

     <div class="span2">  </div> 
    <div class="span10">
         <div class="well">
<form method=post enctype="multipart/form-data" >   
   <div class="row ">
    <div class="span8">

     {{ form.hidden_tag() }}
    <p>{{ wtf.form_field(form.upload) }}</p> 


<p>{{ wtf.form_field(form.submitChallenge) }}</p>

    </form>
</div></div></div>    
{% endblock %}