<!-- extend base layout -->
{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}

  <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">AC Business Analytics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                       <a  href="{{ url_for('rusform')}}"><span class="glyphicon glyphicon-file" aria-hidden="true"> ru Form</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

  
 <header>
        <div class="container-fluid">
            </div>
        </div>
    </header>
<br>
<br>
<br><br>
<br>
<br>
{% endblock %}

{% block content %}
{{ super()}}

      <div class="col-md-12 ">


     
      <div class="row">
        <div class="col-md-1">
        </div><div class="col-md-10">
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  
        
<p></span><a class="btn btn-default" role="button" href="{{ url_for('allrus')}}"><span class="glyphicon glyphicon-signal" aria-hidden="true"> ru List</a>  </p>

         <div class="row ">

     <div class="span2">  </div> 
    <div class="span10">
         <div class="well">
<form method=post enctype="multipart/form-data" >   
   <div class="row ">
    <div class="span8">
{{ form.hidden_tag() }}
{{ wtf.form_errors(form) }}
     <!-- {{ form.hidden_tag() }} -->
{{ wtf.form_field(form.ru) }}
{{ wtf.form_field(form.agency) }}
{{ wtf.form_field(form.county) }}
{{ wtf.form_field(form.oldRU) }}
{{ wtf.form_field(form.kidsru) }}
{{ wtf.form_field(form.school) }}
{{ wtf.form_field(form.Level3Classic) }}
{{ wtf.form_field(form.cds_Code) }}
{{ wtf.form_field(form.ab3632RU) }}
{{ wtf.form_field(form.DayTx) }}
{{ wtf.form_field(form.CESDC) }}
{{ wtf.form_field(form.EPSDTGroup) }}
{{ wtf.form_field(form.psmask2) }}
{{ wtf.form_field(form.svcType) }}
{{ wtf.form_field(form.RU2) }}
{{ wtf.form_field(form.TAYru) }}
{{ wtf.form_field(form.Level2) }}
{{ wtf.form_field(form.DBserviceModality) }}
{{ wtf.form_field(form.svcType3) }}
{{ wtf.form_field(form.OutCty) }}
{{ wtf.form_field(form.OurKids) }}
{{ wtf.form_field(form.SafePassages) }}
{{ wtf.form_field(form.MHSA) }}
{{ wtf.form_field(form.OAru) }}
{{ wtf.form_field(form.program) }}
{{ wtf.form_field(form.Residential) }}
{{ wtf.form_field(form.TBS) }}
{{ wtf.form_field(form.CalWorks) }}
{{ wtf.form_field(form.RUCITY) }}
{{ wtf.form_field(form.UMBRELLA) }}
{{ wtf.form_field(form.svcmode) }}
{{ wtf.form_field(form.provname) }}
{{ wtf.form_field(form.start_dt) }}
{{ wtf.form_field(form.end_dt) }}
{{ wtf.form_field(form.frc) }}
{{ wtf.form_field(form.submitRU) }}


    </form>
</div></div></div>    
{% endblock %}