
{% extends "baser.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}


  <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">AC Business Analytics</a>
            </div>

           </div></nav>

  
 <header>
        <div class="container-fluid">
            </div>
        </div>
    </header>
<br>
<br>
<br><br>
<br>
<br>
{% endblock %}

{% block content %}
{{ super()}}
        <div class="container" color=black>
            </div>
        </div>
    </header>
 <div class="container">
   <div class="jumbotron">
   <div class="alert alert-warning" role="alert">
  <h1>Thank you for submitting.</h1>
  <h2>We will respond to {{email}}</h2><br>
<br></p>

</div>
<a class="page-scroll" href="{{ url_for('myrequest')}}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"> view my requests
    </span></a></div>
 </div></div></div>
    </div></div>
</div></div></body>


{% endblock %}

