<!DOCTYPE html>
 {% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
   {% import "bootstrap/fixes.html" as fixes %}


<html lang="en">

<html>
   {% block head %}

  {{super()}}
  {{fixes.ie8()}}
<!DOCTYPE html>
<html lang="en">


    <title>Argonaut Links! DST<3{% block title %}{% endblock %}</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">


<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.js"></script>
   <!--   <script src="/static/js/bootstrap.min.js"></script> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <!--  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datepicker.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datepicker3.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>


<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-modal.css') }}">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 -->  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}"> -->


    {% endblock %}
  <body>



          {% block content %}
</body></div></div></div>
</body></div></div></div>
</body></div></div></div>
<div class="panel panel-default">
  <div class="panel-body">
   <h1> Welcome to AC Buisness Analytics </h1>
  </div>
</div>{% with messages = get_flashed_messages() %}
      {% if messages %}
         <ul class=flashes>
        {% for message in messages %}
            <li>{% if "Internet Explorer" in message %} <div class="alert alert-danger" role="alert">{{ message }}</div>{%else%}{{message}}{%endif%} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  <div class="row">

       <div class="col-md-8 offset2">
       <br><h3>Apps Menu</h3></div></div>
   <div class="row">

       <div class="col-md-8 offset2">
      


 <div class="col-md-4">
 <div class="well">
 {% if user == 1 %}
 <h2>In house Tools</h2><br>
 <div class="alert alert-info" role="alert">
 <ul class="list-group">
  <li class="list-group-item"><a  href="http://hpmxl2221nxk:5000/restart"><span class="glyphicon glyphicon-refresh" aria-hidden="true"> Server Restart Main</a> </li>
  <li class="list-group-item"><a  href="http://bhcsweb3:5000/restart"><span class="glyphicon glyphicon-refresh " aria-hidden="true"></span> Server Restart Backup</a> </li>
  <li class="list-group-item"><a  href="http://winspssv4:5000/argonaut"><span class="glyphicon glyphicon-font" aria-hidden="true"></span> Argonaut stage and push</a></li>
  <li class="list-group-item"><a href="http://winspssv3:5000/"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Production Results</a></li>
  <li class="list-group-item"><a href="http://argonaut/challengelist"><span class=" glyphicon glyphicon-knight" aria-hidden="true"></span> Challenges Web</a></li>

 
<li class="list-group-item"><a href="http://argonaut/toclist"><span class="glyphicon glyphicon-text-height" aria-hidden="true"></span> Edit TOC</a></li>
<li class="list-group-item"><a href="http://argonaut/procedlist"><span class="glyphicon glyphicon-text-height" aria-hidden="true"></span> Edit Procedures Table</a></li>
{% endif %}
<li class="list-group-item"><a href="http://argonaut/rulist"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Edit Ru Table</a></li>

</ul>
<!-- <p></span><a class="btn btn-default" role="button" href="http://winspssv3:5000/admin/userview/"><span class="glyphicon glyphicon-user" aria-hidden="true"> User Account</a>  </p> -->
</div></div></div>


         <div class="col-md-4">
<div class="well">
<h2>For the User</h2><br>
 <div class="alert alert-info" role="alert">
<li class="list-group-item"><a  href="http://argonaut/pickaform"><span class="glyphicon glyphicon-signal" aria-hidden="true"> Request Center!</a> </li>
<li class="list-group-item"><a  href="http://winspssv4:5000/theportal"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Data Portal</a> </li>
   {% if user == 1 %}
<li class="list-group-item"><a  href="http://hpmxl2221nxk:5000/start"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Project MGMT</a> </li>{% endif %}
<li class="list-group-item"><a href="http://CoveContext/RunReport.i4?reportUUID=cd521124-ac30-4c92-914e-23d9f793e0d2&primaryOrg=1&clientOrg=1">Project MGMT in Emanio</a></li>
 {% if user == 1 %}
<li class="list-group-item"><a href="http://winspssv4:5000/argonaut/emanio"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Emanio Problems?</a></li>
<li class="list-group-item"><a href="http://argonaut/main"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Draft BA Website</a></li>

</ul>
{% endif %}

</span></a></p></span></a></p></div></div></div>
     
     
<br>
  
<br>


    
          {% endblock %}



  <div id="footer">
        <div class="container">
            <div class="row ">
                &copy; 2016 AC Business Intelligence & Decision Support | All Right Reserved

            </div>
            
        </div>
       
    </div> 




</html>
