<!-- extend base layout -->
{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}

  <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">AC Business Analytics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                       <a  href="{{ url_for('rusform')}}"><span class="glyphicon glyphicon-file" aria-hidden="true"> ru Form</a>
                    </li>
                    {% if g.user.admin ==1 %} 
                      <li>
                       <a  href="{{ url_for('rureview')}}"><span class="glyphicon glyphicon-file" aria-hidden="true"> Review</a>
                    </li> {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

  
 <header>
        
            </div>
        </div>
    </header>
<br>
<br>
<br><br>
<br>
<br>
{% endblock %}

{% block content %}
{{ super()}}
</span></a></li></ul></div></div></nav>
        
    </header>
<form method=post  >   
    <div class="row">
       <div class="col-md-1"></div>
       <div class="col-md-3">

     {{ formfilter.hidden_tag() }}


<p>{{ wtf.form_field(formfilter.provsearch) }}
<p>{{ wtf.form_field(formfilter.missing) }}{{ wtf.form_field(formfilter.level_3_classic) }}{{ wtf.form_field(formfilter.submit) }}</p>
</div></div></form>
</div></div></div></div></span>

        </div>
    </header>


<br></p>
</div>


    
<div class='span12 table-scrollable'>
     
  
    <table class="table table-striped table-responsive" >
  <!--          <table id="myTable" class="tablesorter"> -->
<thead> 
         <h3><strong><tr>
 <th> </th>


<th>  agency </th>
<th>  provider_name </th>

<th>  reporting_unit </th>
<th>  ab3632 </th>
<th>  calworks </th>
<th>  cesdc </th>
<th>  county_run </th>
<th>  day_treatment </th>
<th>  dbservicemodality </th>
<th>  end_date </th>
<th>  epsdtgroup </th>
<th>  financial_responsibility </th>
<th>  kidsru </th>
<th>  level_2 </th>
<th>  level_3_classic </th>
<th>  mhsa </th>
<th>  older_adult </th>
<th>  old_ru </th>
<th>  our_kids </th>
<th>  out_of_county </th>
<th>  program </th>

<th>  psmasktext </th>
<th>  residential </th>
<th>  predesessor </th>
<th>  city </th>
<th>  safe_passages </th>
<th>  school </th>
<th>school_cds_id</th>
<th>  start_date </th>
<th>  mode_of_service </th>
<th>  svctype </th>
<th>  svctype3 </th>
<th>  tay </th>
<th>  tbs </th>
<th>  umbrella_organization </th>
       </tr></strong></h3>
         </thead> 
<tbody> 
  <ol type="1">

          {% for field in rulist %}

            <tr>

{% if '*' not in field.reporting_unit %}
<td><a href="{{ url_for('edit_ru', id=field.id,edit=1) }}" class="btn pull-right"><span class="glyphicon glyphicon-pencil"></span> </a> <!-- <a href="{{ url_for('edit_challenge', id=field.id,edit=0) }}" class="btn pull-right"><span class="glyphicon glyphicon-share"></span> copy </a>  -->
</td>


<td>{{field.agency }}</td>

<td>{{field.provider_name }}</td>

<td>{{field.reporting_unit }}</td>
<td>{{field.ab3632 }}</td>
<td>{{field.calworks }}</td>
<td>{{field.cesdc }}</td>
<td>{{field.county_run }}</td>
<td>{{field.day_treatment }}</td>
<td>{{field.dbservicemodality }}</td>
<td>{{field.end_date }}</td>
<td>{{field.epsdtgroup }}</td>
<td>{{field.financial_responsibility }}</td>
<td>{{field.kidsru }}</td>
<td>{{field.level_2 }}</td>
<td>{{field.level_3_classic }}</td>
<td>{{field.mhsa }}</td>
<td>{{field.older_adult }}</td>
<td>{{field.old_ru }}</td>
<td>{{field.our_kids }}</td>
<td>{{field.out_of_county }}</td>
<td>{{field.program }}</td>
<td>{{field.psmasktext }}</td>
<td>{{field.residential }}</td>
<td>{{field.predesessor }}</td>
<td>{{field.city }}</td>
<td>{{field.safe_passages }}</td>
<td>{{field.school }}</td>
<td>{{field.school_cds_id}}</td>     
<td>{{field.start_date }}</td>
<td>{{field.mode_of_service }}</td>
<td>{{field.svctype }}</td>
<td>{{field.svctype3 }}</td>
<td>{{field.tay }}</td>
<td>{{field.tbs }}</td>
<td>{{field.umbrella_organization }}</td>

{% endif %}

       {% endfor %}</tr></ol></tbody> </table> 
</div>
 </div></div></div>
    </div></div>
</div></div></body>



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  </body>
</html>{% endblock %}
