<!-- extend base layout -->
{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}

  <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">AC Business Analytics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                       <a  href="{{ url_for('tocform')}}"><span class="glyphicon glyphicon-file" aria-hidden="true"> TOC Form</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

  
 <header>
        <div class="container-fluid">
            </div>
        </div>
    </header>
<br>
<br>
<br><br>
<br>
<br>
{% endblock %}

{% block content %}
{{ super()}}

        <div class="container" color=black>
            </div>
        </div>
    </header>


<br></p>
</div>


      <div class="col-md-12 ">



    
<div class='span12 table-scrollable '>
     
  
    <table class="table table-striped table-responsive" >
  <!--          <table id="myTable" class="tablesorter"> -->
<thead> 
         <h3><strong><tr>
 <th> </th>
 <th>title</th>
 <th>agency</th>
 <th>category</th>
 <th>description</th>
 <th>purpose</th>
 <th>identified</th>
 <th>status</th>
 <th>went_live_on</th>
 <th>code_author</th>
 <th>report_author</th>
 <th>link</th>
       </tr></strong></h3>
         </thead> 
<tbody> 
  <ol type="1">

          {% for field in toclist %}

            <tr>


<td><a href="{{ url_for('edit_toc', id=field.id) }}" class="btn pull-right"><span class="glyphicon glyphicon-pencil"></span> </a> <!-- <a href="{{ url_for('edit_challenge', id=field.id,edit=0) }}" class="btn pull-right"><span class="glyphicon glyphicon-share"></span> copy </a>  -->
</td>
<td>{{field.title}}</td>
<td>{{field.agency}}</td>
<td>{{field.category}}</td>
<td><a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapse{{field.id}}" aria-expanded="false" aria-controls="collapseExample">
  Description
</a>

<div class="collapse" id="collapse{{field.id}}">
  <div class="well">
    {{field.description}}
  </div>
</div></td>

<td>{{field.purpose}}</td>
<td>{{field.identified}}</td>   
<td>{{field.status}}</td>
<td>{{field.went_live_on}}</td>
<td>{{field.code_author}}</td>
<td>{{field.report_author}}</td>
<td><a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapse{{field.id}}" aria-expanded="false" aria-controls="collapseExample">
  Link
</a>

<div class="collapse" id="collapse{{field.id}}">
  <div class="well">
    {{field.link}}
  </div>
</div></td>
       {% endfor %}</tr></ol></tbody> </table> 
</div>
 </div></div></div>
    </div></div>
</div></div></body>



    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </body>
</html>{% endblock %}